body {
    font-family: Arial;
    padding: 40px;
    background: #f2f2f2;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

input {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
}

button {
    background: #0077ff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
}
